name: Sync labels
on:
  push:
    branches:
      - issue-3
    paths:
      - .github/GITHUB_REPO_LABELS_TEMPLATE.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manifest: .github/GITHUB_REPO_LABELS_TEMPLATE.yml
